@{
    ViewData["Title"] = "Lessons";
}
<!-- START Pricing w/ 2 cards & nav tabs -->
<section class="py-3">
    <div class="bg-gradient-dark position-relative m-3 border-radius-xl">
        <img src="../../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-6">
        <div class="container pb-lg-9 pb-7 pt-7 postion-relative z-index-2">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <span class="badge bg-gradient-info mb-2">Pricing</span>
                    <h3 class="text-white">See our pricing</h3>
                    <p class="text-white">You have Free Unlimited Updates and Premium Support on each package.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-6 bg-gray-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                        <a href="javascript:;" class="d-block">
                            <img src="/img/BaconsaleKateHorizontal.jpg" class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">House</span>
                        <a href="javascript:;" class="card-title h5 d-block text-darker">
                            Shared Coworking
                        </a>
                        <p class="card-description mb-4">
                            Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                        <a href="javascript:;" class="d-block">
                            <img src="/img/BaconsaleKateHorizontal.jpg" class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <span class="text-gradient text-info text-uppercase text-xs font-weight-bold my-2">Office</span>
                        <a href="javascript:;" class="text-darker card-title h5 d-block">
                            Really Housekeeping
                        </a>
                        <p class="card-description mb-4">
                            Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                        <a href="javascript:;" class="d-block">
                            <img src="/img/BaconsaleKateHorizontal.jpg" class="img-fluid border-radius-lg">
                        </a>
                    </div>
                    <div class="card-body pt-3">
                        <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold my-2">Hub</span>
                        <a href="javascript:;" class="text-darker card-title h5 d-block">
                            Shared Coworking
                        </a>
                        <p class="card-description mb-4">
                            Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
<!-- END Pricing w/ 2 cards & nav tabs -->