@{
    ViewData["Title"] = "Home";
}

<header>
    <div class="page-header min-vh-100">
        <div class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block" style="background-image: url(/img/curved-images/curved8.jpg); background-size:cover;"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex justify-content-center flex-column">
                    <div class="card card-body blur d-flex justify-content-center shadow-lg p-5 mt-5">
                        <h1 class="text-gradient text-primary">The Joel Hilton</h1>
                        <h2 class="mb-4">Film Collection</h2>
                        <p class="lead pe-5 me-5">Discover the favorite films and hidden gems of a BYU Film Studies minor, ClearPlay movie reviewer, and Baconsale podcaster.</p>
                        <div class="buttons">
                            <a href="/home/form"><button type="button" class="btn bg-gradient-primary mt-4">Collection</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<section class="py-4">
    <div class="container">
        <div class="row justify-space-between py-2">
            <div class="col-6 mx-auto">
                <div class="card">
                    <img class="card-img-top" src="~/img/joelhiltonheadshot.jpg">
                    <div class="position-relative overflow-hidden" style="height:50px;margin-top:-50px;">
                        <div class="position-absolute w-100 top-0 z-index-1">
                            <svg class="waves waves-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                                <defs>
                                    <path id="card-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                                </defs>
                                <g class="moving-waves">
                                    <use xlink:href="#card-wave" x="48" y="-1" fill="rgba(255,255,255,0.30"></use>
                                    <use xlink:href="#card-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
                                    <use xlink:href="#card-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
                                    <use xlink:href="#card-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
                                    <use xlink:href="#card-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
                                    <use xlink:href="#card-wave" x="48" y="16" fill="rgba(255,255,255,0.99)"></use>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4>Joel Hilton</h4>
                        <p>
                            One of the most beautiful and complex UI Kits built by the team behind Creative Tim. That&#34;s pretty impressive.
                        </p>
                        <a href="/home/about" class="text-primary icon-move-right">
                            More about me
                            <i class="fas fa-arrow-right text-xs ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
