@{
    ViewData["Title"] = "Home";
}

<div class="page-header min-vh-100">
    <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
      <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(/img/PickleballBackground.png)"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                <h1 class="text-gradient text-primary">PK Pickleball Academy</h1>
                <h3 class="mb-4">Your Pickleball Journey Starts Here</h3>
                <p class="lead pe-5 me-5">Discover how my hobby transformed into a top-tier academy. Through personalized coaching, I aim to share the joy of pickleball with enthusiasts of all levels.</p>
          <div class="buttons">
                    <a href="/home/lessons">
                        <button href="/home/lessons" type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
                    </a>
            <button type="button" id="btnAbout" class="btn text-primary shadow-none mt-4">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="py-md-7 mt-md-5">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <div class="primary text-start border-radius-lg">
                    <div class="icon">
                        <div class="icon">
                            <i class="ni ni-lg-2 text-primary ni-calendar-grid-58"></i>
                        </div>
                    </div>
                    <h5 class="mt-3">Flexible Schedule</h5>
                    <p>Fit training into your busy life with ease. Our variety of session times ensures you never miss a beat.</p>
                </div>
                <div class="primary text-start border-radius-lg mt-6">
                    <div class="icon">
                        <i class="ni ni-lg-2 text-primary ni-square-pin"></i>
                    </div>
                    <h5 class="mt-3">Community Connection</h5>
                    <p>A thriving community where camaraderie and support abound. Whether with pros or enthusiasts, you'll find ample growth opportunities.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="primary text-start border-radius-lg">
                    <div class="icon">
                        <div class="icon">
                            <i class="ni ni-lg-2 text-primary ni-chat-round"></i>
                        </div>
                    </div>
                    <h5 class="mt-3">Awesome Support</h5>
                    <p>Join our pickleball community, where greatness is embraced and every player's brilliance shines in a supportive atmosphere.</p>
                </div>
                <div class="primary text-start border-radius-lg mt-6">
                    <div class="icon">
                        <div class="icon">
                            <i class="ni ni-lg-2 text-primary ni-trophy"></i>
                        </div>
                    </div>
                    <h5 class="mt-3">Unleash Your Potential</h5>
                    <p>Become a champion on and off the court. With a focus on growth and effort, greatness awaits.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- -------- END Features w/ 4 cols w/ colored icon & title & text -------- -->
<!-- START Testimonials w/ user image & text & info -->
<section class="py-4 position-relative overflow-hidden">
    <img src="/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute top-0 opacity-6">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 mx-auto bg-gradient-dark border-radius-lg">
                <div class="row py-5">
                    <div class="col-xl-4 col-md-6 px-5 position-relative">
                        <img class="img border-radius-md max-width-300 w-100 position-relative z-index-2" src="/img/PKLemon.png" alt="card image">
                    </div>
                    <div class="col-xl-4 col-md-5 z-index-2 position-relative px-md-3 px-5 my-md-auto mt-4">
                        <div>
                            <svg class="text-primary" width="35px" height="35px" viewBox="0 0 270 270" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>quote-down</title>
                                <g id="quote-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <path d="M107.000381,49.033238 C111.792099,48.01429 115.761022,48.6892564 116.625294,50.9407629 C117.72393,53.8028077 113.174473,58.3219079 107.017635,60.982801 C107.011653,60.9853863 107.00567,60.9879683 106.999688,60.990547 C106.939902,61.0219589 106.879913,61.0439426 106.820031,61.0659514 C106.355389,61.2618887 105.888177,61.4371549 105.421944,61.5929594 C88.3985192,68.1467602 80.3242628,76.9161885 70.3525495,90.6906738 C60.0774843,104.884196 54.9399518,119.643717 54.9399518,134.969238 C54.9399518,138.278158 55.4624127,140.716309 56.5073346,142.283691 C57.2039492,143.328613 57.9876406,143.851074 58.8584088,143.851074 C59.7291771,143.851074 61.0353294,143.241536 62.7768659,142.022461 C68.3497825,138.016927 75.4030052,136.01416 83.9365338,136.01416 C93.8632916,136.01416 102.658051,140.063232 110.320811,148.161377 C117.983572,156.259521 121.814952,165.88151 121.814952,177.027344 C121.814952,188.695638 117.417572,198.970703 108.622813,207.852539 C99.828054,216.734375 89.1611432,221.175293 76.6220807,221.175293 C61.9931745,221.175293 49.3670351,215.166992 38.7436627,203.150391 C28.1202903,191.133789 22.8086041,175.024577 22.8086041,154.822754 C22.8086041,131.312012 30.0359804,110.239421 44.490733,91.6049805 C58.2196377,73.906272 74.3541002,59.8074126 102.443135,50.4450748 C102.615406,50.3748509 102.790055,50.3058192 102.966282,50.2381719 C104.199241,49.7648833 105.420135,49.3936487 106.596148,49.1227802 L107,49 Z M233.000381,49.033238 C237.792099,48.01429 241.761022,48.6892564 242.625294,50.9407629 C243.72393,53.8028077 239.174473,58.3219079 233.017635,60.982801 C233.011653,60.9853863 233.00567,60.9879683 232.999688,60.990547 C232.939902,61.0219589 232.879913,61.0439426 232.820031,61.0659514 C232.355389,61.2618887 231.888177,61.4371549 231.421944,61.5929594 C214.398519,68.1467602 206.324263,76.9161885 196.352549,90.6906738 C186.077484,104.884196 180.939952,119.643717 180.939952,134.969238 C180.939952,138.278158 181.462413,140.716309 182.507335,142.283691 C183.203949,143.328613 183.987641,143.851074 184.858409,143.851074 C185.729177,143.851074 187.035329,143.241536 188.776866,142.022461 C194.349783,138.016927 201.403005,136.01416 209.936534,136.01416 C219.863292,136.01416 228.658051,140.063232 236.320811,148.161377 C243.983572,156.259521 247.814952,165.88151 247.814952,177.027344 C247.814952,188.695638 243.417572,198.970703 234.622813,207.852539 C225.828054,216.734375 215.161143,221.175293 202.622081,221.175293 C187.993174,221.175293 175.367035,215.166992 164.743663,203.150391 C154.12029,191.133789 148.808604,175.024577 148.808604,154.822754 C148.808604,131.312012 156.03598,110.239421 170.490733,91.6049805 C184.219638,73.906272 200.3541,59.8074126 228.443135,50.4450748 C228.615406,50.3748509 228.790055,50.3058192 228.966282,50.2381719 C230.199241,49.7648833 231.420135,49.3936487 232.596148,49.1227802 L233,49 Z" id="quote-up" fill="#cb0c9f" fill-rule="nonzero" transform="translate(135.311778, 134.872794) scale(-1, -1) translate(-135.311778, -134.872794) "></path>
                                </g>
                            </svg>
                        </div>
                        <p class="text-lg text-white">
                            Dinking in pickleball is like navigating life's delicate moments: one wrong move, and you might find yourself in quite a pickle!
                        </p>
                        <p class="text-white font-weight-bold text-sm">Parker - <span class="text-xs font-weight-normal">Owner and CEO</span></p>
                        <hr class="vertical start-100 ms-n5 d-xl-block d-none">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-xl-2 col-12 px-xl-0 px-5 my-xl-auto">
                        <h3 class="text-white mt-xl-0 mt-5">10,000 +</h3>
                        <p class="text-sm text-white opacity-8">Members of our PK Pickleball Academy dedicated to a dinkful lifestyle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END Testimonials w/ user image & text & info -->
<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<section class="py-sm-7 py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-gradient text-primary mb-0 mt-2">Read More About Me</h3>
                <h3>My Pickleball Story</h3>
                <p>I grew up playing tennis with my family, who were all skilled at racket sports. In high school, I discovered pickleball and fell in love with it. Over the past 7 years, I've competed in tournaments, coached lessons, and enjoyed one-on-one matches with my dad.</p>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
                <div class="p-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-heart opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Falling in Love with Pickleball: <br> Pickleball became my passion in high school, blending tennis and ping pong into one exhilarating sport.</p>
                    </div>
                </div>
                <div class="p-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-money-bill opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Making Money in the Summers:<br>Coaching pickleball in summers provided extra income and the rewarding experience of sharing my passion.</p>
                    </div>
                </div>
                <div class="p-3 info-horizontal">
                    <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                        <i class="fas fa-handshake opacity-10"></i>
                    </div>
                    <div class="description ps-3">
                        <p class="mb-0">Continuing to Enjoy Pickleball: <br> Pickleball remains uniquely enjoyable, whether competing, coaching, or playing casually.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
