@{
    ViewData["Title"] = "Schedule";
}
<!-- -------   START PRE-FOOTER 6 - title & description and input    -------- -->
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div class="py-8">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center">
                <h3>Schedule Page is currently under maintenance</h3>
                <p class="lead">Visit Home page for View #1 (hobby page) and Lessons for View #2 (calculator page) </p>
            </div>
        </div>
    </div>
</div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>
<div><br /></div>

<!-- -------   END PRE-FOOTER 6 - title & description and input    -------- -->
